/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:  mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


form.normal-form{
    margin: 10px;
}

.control-container{
    width: 100%;
    padding: 5%;
}

.control-container-img{
    margin-bottom: 20px;
    width: 50%;
    padding: 10px;
}

.control-container > *{
    width: 100%;
}


.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.add-bottom-padding{
    padding-bottom: 30px;
}

.pull-right{
    padding-left: 30px;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }