
<div class="loading-indicator" *ngIf= "isLoading">
  <mat-progress-spinner [color]="color" mode="indeterminate"></mat-progress-spinner>
</div>

<mat-grid-list cols="12" rowHeight="80px">

  <mat-grid-tile colspan="2">
    <div class="control-container">
      <!-- <mat-form-field> -->
        <button color="primary" mat-raised-button type="button" (click)="openCreate()">Add</button>
      <!-- </mat-form-field> -->
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="10">
    <div class="control-container">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input type="text" matInput (keyup)="filterAction()" placeholder="Ex. ium" #input [(ngModel)]="search">
      </mat-form-field>
    </div>
  </mat-grid-tile>

</mat-grid-list>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table">
  
     
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
   
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> {{element.details}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="created_on">
        <th mat-header-cell *matHeaderCellDef> Created On </th>
        <td mat-cell *matCellDef="let element"> {{element.created_on}} </td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Icon </th>
        <td mat-cell *matCellDef="let element"> <img style="width: 180px; height: 180px;" src="{{element.icon}}"> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="action($event)">
    </mat-paginator>
  </div>
